@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 24, 32, 45;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

input, select {
  background-color: #2d3748;
  color: white;
  border: 1px solid #4a5568;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

input:focus, select:focus {
  outline: none;
  border-color: #805ad5;
  box-shadow: 0 0 0 3px rgba(128, 90, 213, 0.25);
}
